@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

html,
body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;

}

body {
  background-image: url(./images/bakgrund.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.timer-container {
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  border: 1px solid black;
  border-radius: 50%;
  width: 28em;
  height: 28em;
}

#timer-label{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
  text-transform: uppercase;
  font-size: 2.5rem;
}

#timer-digits {
  vertical-align: middle;
  font-size: 4.5rem;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
}

.ticktac {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  text-align: center;
  width: 20em;
}

#start_stop {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  padding: 2em;
  width: 6em;
  height: 6em;
  text-align: center;
  margin-top: -4em;
}


/* sidebar */

.sidebar-break{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.sidebar-btn{
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  padding: 2em;
  width: 5em;
  height: 5em;
  text-align: center;
  cursor: pointer;
}

.navBar{


  position: fixed;
  top: 0;
  background:blue;
  border: 1px solid black;
  left: 0;
  
  height: 100vh;
 

  max-width: 290px;
  z-index: 9;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: darkcyan;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

.break{
  display: flex;
}